<!-- registration/register.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .wide-card {
        width: 400px; /* Adjust the width as needed */
        margin: 0 auto; /* Center the form horizontally */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card wide-card"> <!-- Apply custom class to the card -->
                <div class="card-header bg-success text-white">Register</div>

                <div class="card-body">
                    <form method="post" action="{% url 'polls:register' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        {{ field|capfirst }}: {{ error }}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" value="{{ form.username.value }}" class="form-control" id="id_username" required autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" name="email" value="{{ form.email.value }}" class="form-control" id="id_email" required autocomplete="email">
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Password:</label>
                            <input type="password" name="password1" class="form-control" id="id_password1" required autocomplete="new-password">
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Password confirmation:</label>
                            <input type="password" name="password2" class="form-control" id="id_password2" required autocomplete="new-password">
                        </div>
                        <button type="submit" class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <p>Already have an account? <a href="{% url 'polls:login' %}">Login here</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
